body {
    background-color: #C2CAE8;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container{
    padding: 10px;
    color: #ffffff;
    text-align: left;
    margin-top: 50px;
    background-color: #111D4A;
}
.container > h1 {
    display: inline-block;
    position: relative;
    left: 210px;
}
.container > h1:nth-child(2) {
    border: #FFBE0B 2px solid;
    color: #FF1861;
    background-color: #FFBE0B;
    border-radius: 5px;
}
.container > h2 {
    font-weight: lighter;
    display: inline-block;
    margin-left: 20px;
    position: relative;

}
.container > h2:nth-child(3) {
    display: inline-block;
    left: 330px;
}
.container > h2:nth-child(4) {
    display: inline-block;
    left: 360px;
}
.container > h2:nth-child(5) {
    display: inline-block;
    left: 390px;
}
.container > h2:nth-child(6) {
    font-weight: 700;
    display: inline-block;
    left: 600px;
}
.text {
    position: relative;
    top: 117px;
    left: 799px;
    line-height: 35px;
    font-size: 24px;
    font-weight: 600;
    color: #111D4A;
    width: 397px;
    height: 105px;
}
.banner1 {
    position: relative;
    top: 175px;
    left: 228px;
    border-radius: 10px;
    border: 1px; 
}
.banner2 {
    position: relative;
    bottom: 150px;
    left: 316px;
    border-radius: 10px;
    border: 1px; 
}
.search {
    position: relative;
    border: 3px;
    left: 1079px;
    bottom: 810px;
}
.signup {
    position: relative;
    bottom: 500px;
    left: 799px;
    border: 1px;
}
.text2{
    width: 397px;
    height: 105px;
    position: relative;
    left: 834px;
    bottom: 480px;
}
.container2 {
    width: 435px;
    height: 55px;
    position: relative;
    left: 235px;
    bottom: 500px;
    font-weight: bold;
    color: #111D4A;
    line-height: 100%;
}
.container2 > h2 {
    font-size: 20px;
    line-height: 100%;
    width: 407px;
    height: 46px;
    color: black;
    position: relative;
    top: 25px;
}
.container2 > h3 {
    width: 373px;
    height: 59px;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: black;
    position: relative;
    top: 25px;
}
.container3 {
    font-size: 20px;
    line-height: 100%;
    width: 407px;
    height: 46px;
    color: black;
    position: relative;
    bottom: 370px;
    left: 235px;
}
.line1 {
    width: 372.5px;
    color: black;
    position: relative;
    right: 30px;
}
.line2 {
    width: 372.5px;
    color: black;
    position: relative;
    right: 30px;
    top: 50px;
}
.line3 {
    width: 372.5px;
    color: black;
    position: relative;
    right: 30px;
    top: 103px;
}
.line4 {
    width: 372.5px;
    color: black;
    position: relative;
    right: 30px;
    top: 156px;
}
.line5 {
    width: 372.5px;
    color: black;
    position: relative;
    right: 30px;
    top: 209px;
}
.image1 {
    position: relative;
    left: 653px;
    bottom: 740px; 
}
.more  {
    width: 46px;
    height: 17px;
    position: relative;
    left: 1160px;
    bottom: 745px; 
    font-weight: lighter;
}